form {

  .form-text {
    border: 1px solid #a5a698;
    color: #a5a698;
    height: 30px;
    padding: 0 7px;
    font-size: 15px;
    @include input-background;
  }

  span.button {
    @include alter-button;
  }
}
