.front {

  .pane-user-login {
    background: url('../images/bg-register.png') no-repeat;
    width: 234px;
    height: 330px;
    position: absolute;
    right: 0; //LTR
    top: 0;
  }

  .panel-col-top {
    background: url('../images/bg-poster-texture.jpg') repeat-x;
    height: 506px;

    .container-wrapper {
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MiUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMyIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
      background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,0.3) 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(52%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.3)));
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.3) 100%);
      background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.3) 100%);
      background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.3) 100%);
      background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.3) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=1 );

      height: 506px;
    }

    .views-row-first {
      height: 506px;
      margin: 0 15px;
      background: url('../images/garmentbox-screenshot.png') no-repeat right;

      h2 {
        padding-top: 74px;
        font-size: 50px;
        line-height: 52px;
        color: #dce4e6;
        font-weight: normal;
        width: 375px;
        @include dosis;
      }

      .field-content p {
        font-size: 20px;
        line-height: 24px;
        width: 414px;
        font-weight: bold;
        color: #a2c4c5;
        margin-bottom: 30px;
        @include neo-sans;
      }
    }
  }

  .panel-col-center {
    background: url("../images/bg-paper.png") repeat-x;
    height: 278px;
    padding-top: 48px;

    .views-field-title {
      display: none;
    }

    .views-row {
      width: 30%;
      float: left; //LTR
      padding: 0;

      &.views-row-2 {
        width: 40%;
      }

      .field-content {

        .circle {
          width: 108px;
          height: 110px;
          text-align: center;
          margin: 0 auto;

          .cloud {
            margin-top: 31px;
            display: inline-block;
            width: 68px;
            height: 41px;
            background-position: 0 -150px;
          }

          .inventory {
            margin-top: 31px;
            display: inline-block;
            width: 59px;
            height: 46px;
            background-position: 0 -225px;
          }

          .builtin-shop {
            margin-top: 31px;
            display: inline-block;
            width: 46px;
            height: 43px;
            background-position: -75px -150px;
          }
        }

        h3 {
          text-align: center;
          color: #484848;
          font-size: 37px;
          @include dosis;
          margin-bottom: 0;
        }

        p {
          text-align: center;
          color: #9bc3c5;
          font-size: 18px;
          line-height: 24px;
          @include dosis;
          width: 260px;
          margin: 0 auto;
        }
      }
    }
  }

  .panel-col-center2 {
    background: url("../images/bg-opensource.png") repeat-x;
    height: 43px;

    .views-field-title {
      display: none;
    }

    p {
      text-align: center;
      margin: 0;
      color: #dedede;
      font-weight: bold;
      @include dosis;
      font-size: 23px;
      line-height: 45px;
      text-shadow: #393536 0 1px 1px;
    }
  }

  .panel-col-center3 {
    background: url("../images/bg-sections.png") repeat-x;
    height: 446px;

    .pane-custom {
      margin-top: 40px;

      p {
        text-align: center;
      }
    }
  }

  .pane-homepage-sections-panel-pane-homepage-sections {
    padding-top: 20px;

    h2 {
      text-align: center;
      color: #512d3b;
      font-weight: normal;
      font-size: 37px;
      margin-bottom: 36px;
    }

    .views-row {
      float: left; //LTR
      width: 206px;
      height: 174px;
      background: url("../images/sprites.png") no-repeat -300px 0;
      text-align: center;
      margin-right: 17px; //LTR
      padding: 33px 22px 0;

      .section {
        height: 157px;
        background: url("../images/add-ons.png") no-repeat bottom;
      }

      &.views-row-2 .section {
        background-image: url("../images/services.png");
        background-position: 50% 42px;
      }

      &.views-row-3 .section {
        background-image: url("../images/support.png");
        background-position: 50% 42px;
      }

      &.views-row-4 .section {
        background-image: url("../images/training.png");
        background-position: 50% 42px;
      }

      .views-field-title a {
        color: #c0436f;
        text-decoration: none;
        font-size: 29px;
      }

      .views-field-field-subtitle {
        font-weight: bold;
        font-size: 13px;
        @include arial;
      }

      .views-field-body {
        font-size: 12px;
        @include arial;
      }
    }
  }
}
