$grey-border: #686868;
$grey-title: #686868;
$grey-text: #9b9b9b;
$menu-text: white;
$promo-description-background: #ffffff;
$promo-images-background: #f8f8f8;
$empty-slideshow-background: #404040;
$light-box-background: #f8f8f8;
$light-box-border: white;
$button-background: white;
$button-text: black;
$footer-text: #fafafa;
$turquoise: #0099fa;
$yellow: #ffc015;
